@mixin transmission {
  opacity: 0.5;
}

.appBtn {
  width: 180px;
  margin: 0 5px;
}
.appBtn:hover {
  @include transmission;
}
.googleBtn {
  width: 180px;
  margin: 0 5px;
}
.googleBtn:hover {
  @include transmission;
}

img {
  width: 100%;
  vertical-align: bottom;
}
