.items-show-container{
  width:700px;
  margin:0 auto;
}
.items-show-summary{
  &__main-image{
    height:346px;
  }
  &__sub-images{
    display:flex;
    margin:0 auto;
    &--image{
      width:69px;
    }
  }
}
.items-show-detail{
  width:700px;
  &__table{
    border-collapse: collapse;
    border-spacing: 0;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    &--table{
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
    }
    &--tbody{
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }
    &--tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
    &--th{
      font-style: normal;
      width: 20%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
    }
    &--td{
      width: 61%;
      padding: 15px 15px;
      border: 1px solid #dedede;
      font-size: 14px;
      display: table-cell;
      vertical-align: inherit;
    }
  }
}
.items-show-other{
  display:flex;
  justify-content: space-between;
  &__favorite{
    &--btn{
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      color: #3CCACE;
      border: 1px solid #ffb340;
    }
  }
  &__report{
    &--btn{
      padding: 6px 10px;
      display: inline-block;
      border-radius: 4px;
      color: #333;
      border: 1px solid #333;
      text-decoration: none;
    }
  }
}
.items-show-comment{
  &__submit{
    &--btn{
      display:block;
      margin:0 auto;
      font-size: 18px;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      border-radius: 100px;
    }
  }
}
.items-show-links{
  display:flex;
  justify-content: space-between;
}

.items-show-button{
  width:700px;
  display:flex;
  justify-content: space-between;
  &__edit{
    margin:0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    width: 30%;
    border-radius: 100px;
    &--link{
      color: #fff;
      text-decoration: none;
    }
  }
  &__cancel{
    margin:0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    background: #ea352d;
    border: 1px solid #ea352d;
    width: 30%;
    border-radius: 100px;
    &--link{
      color: #fff;
      text-decoration: none;
    }
  }
  &__purchase{
    margin:0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    width: 60%;
    border-radius: 100px;
    &--link{
      color: #fff;
      text-decoration: none;
    }
  }
}