.items-new {
  background-color: rgb(245, 245, 245);
  align-items: center;
  &-header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      height: 50px;
      width: 200px;
    }
  }

  &-main {
    background-color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    &-inputs {
      &-field {
        padding: 40px;
      }
    }
  }

  &-footer {
    height: 150px;
    text-align: center;
    padding: 40px;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding: 5px;
        a{
          color: #000000;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    &__icon {
      max-width: 160px;
      margin: 0 auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    p {
      font-size: 14px;
    }
  }
}

// headerとfooter以外
.common-field__tag{
  margin-left: 8px;
  background-color: rgb(235, 51, 41);
  color: white;
  font-size: 13px;
  padding: 1px 3px;
  border-radius: 2px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;

  &--any{
    margin-left: 8px;
    background-color: rgb(191, 191, 191);
    color: white;
    font-size: 13px;
    padding: 1px 3px;
    border-radius: 2px;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  }
}
// hr
.items-new-hr{
  border-top-width: 1px;
  border-top-color: #efefef;
  border-left: 0 solid #efefef;
  border-bottom: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-top-style: solid;
  margin: 0;
}
.items-new-first{
  padding: 40px;
  &__head{
    height: 80px;
  }

  &__foot{
    height: 200px;
    margin-top: 32px;
  }
}
.items-new-second{
  padding: 40px;

  &__detail{
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 24px;
  }

  &__head{
    margin-top: 32px;
  }
  &__center{
    @extend .items-new-second__head;
  }
  
  &__foot{
    @extend .items-new-second__head;
  }
}

.items-new-third{
  padding: 40px;
  &__detail{
    @extend .items-new-second__detail;
  }

  &__head{
    @extend .items-new-second__head;
  }
    
  &__center{
    @extend .items-new-second__head;
  }
  
  &__foot{
    @extend .items-new-second__head;
  }
}

.items-new-final{
  padding: 40PX;
  &__detail{
    @extend .items-new-second__detail;
  }

  &__head{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__commission{
    padding: 12px 0;
    align-items: center;
    box-sizing: content-box;
    display: flex;
    height: 46px;

    &--factor{
      font-size: 14px;
      color: rgb(54, 54, 54);
    }
  }

  &__profit{
    @extend .items-new-final__commission;
    &--factor{
      @extend .items-new-final__commission--factor;
    }
  }

  &__exibition{
    text-align: center;
    margin-bottom: 32px;
  }
}

// exbition-n-black block
.exibition-n-back{
  display: flex;
  flex-direction: column;
  &__submit:hover{
    background-color: #d12f27;
  }
  &__submit{
    transition: 0.2s;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    font-weight: 600;
    background-color: #eb342b;
    width: 55%;
    color: #fff;
    margin-bottom: 24px;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    font-size: 17px;
    min-height: 48px;
    padding: 0 24px;
  }
  &__previous:hover{
    background-color: rgb(192, 192, 192)
  }
  &__previous{
    transition: 0.2s;
    width: 55%;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    background-color: #ccc;
    border-color: transparent;
    color: #222;
    padding: 14px 24px;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    font-size: 17px;
    min-height: 48px;
    border-radius: 5px;
    font-weight: 600;
  }
}

// input ID
#item_title{
  margin-top: 16px;
  align-items: center;
  display: inline-flex;
  width: 100%;
  color: #222;
  font-size: 16px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 48px;
}

#item_description{
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  outline: none;
  padding: 13px 16px;
  resize: vertical;
  vertical-align: middle;
  width: 100%;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  height: 150px;
}

%__select-form{
  margin-top: 16px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  outline: none;
  padding: 0 56px 0 16px;
}

#parent{
 @extend %__select-form;
}
#child{
 @extend %__select-form;
}

#item_category_id{
  @extend %__select-form;
}

#item_product_size_id{
  @extend %__select-form;
}

#item_brand_id{
  @extend %__select-form;
}

#item_condition_num{
  @extend %__select-form;
}

#shippingway{
  @extend %__select-form;
}

#item_shippingway_id{
  @extend %__select-form;
}

#item_daystoship_num{
  @extend %__select-form;
}

#item_price{
  @extend %__select-form;
  width: 50%;
  height: 50px;
  border-radius: 4px;
}
