.sign-up-container{
  width: 700px;
  display:block;
  margin:0 auto;
  background-color: #fff;
  &__head{
    border-bottom:solid 1px #f5f5f5;
    &--text{
      text-align: center;
      font-size: 22px;
      padding: 32px;
      font-family:'Source Sans Pro'
      , Helvetica 
      , Arial
      , '游ゴシック体'
      , 'YuGothic'
      , 'メイリオ'
      , 'Meiryo'
      , sans-serif;
    }
  }
  &__contents{
    padding:40px 40px 64px;
  }
}