.banner-inner {
  color: #fff;
  text-align: center;

  @mixin txtshadow{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  
  &__title {
    @include txtshadow;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
  }
  
  &__content {
    @include txtshadow;
    font-size: 35px;
  }

  &__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
  }

}
