.item-image-container{
  padding: 40px;
  height: 300px;

  label{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__lead{
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.4em;
  }
  &__tag{
    background-color: red;
    color: white;
    font-size: 13px;
    padding: 1px 3px;
    border-radius: 2px;
  }
  &__unit{
    display: flex;
    min-width: 620px;
    max-width: 620px;

    ul{
      display:flex;
    }
    &--preview{
      width: 124px;
      margin-top: 16px;
      background-color: rgb(245, 245, 245);
      margin-right: 5px;
      .item-image-container__unit--caption{
        position: relative;
        width: 100%;
        height: 100px;
        img{
          padding: 5px 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
      .image-option{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid rgb(204, 204, 204);
        height: 40px;
        line-height: 40px;
        &__list{

          a{
            display: block;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    
    &--guide::before {
      content: "";
      background-image: linear-gradient(to right, rgb(204,204,204), rgb(204,204,204) 3px, transparent 3px, transparent 8px),
      linear-gradient(to right, rgb(204,204,204), rgb(204,204,204) 3px, transparent 3px, transparent 8px),
      linear-gradient(to bottom, rgb(204,204,204), rgb(204,204,204) 3px, transparent 3px, transparent 8px),
      linear-gradient(to bottom, rgb(204,204,204), rgb(204,204,204) 3px, transparent 3px, transparent 8px);
      background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
      background-position: left top, left bottom, left top, right top;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
    
    &--guide{
      width: 100%;
      margin-top: 16px;
      height: 150px;
      background-color: rgb(245,245,245);
      position: relative;
      text-align: center;
      .have-image{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
  
        i{
          color: rgb(34, 34, 34);
          height: 24px;
          font-size: 19px;
          margin-bottom: 2px;
          width: 24px;
        }
      }
    }
  }
}