/*---リストの標準装飾を消去---*/
ul{
  list-style: none;
}

/*---ニックネーム--メールアドレス--パスワード---*/
.registration-new{
  padding: 20px 40px;
  background-color: #f5f5f5;
  position: sticky;
  .header{
    padding: 40px;    
    &__box{
      display: flex;
      justify-content: center;    
      &--logo {
        width: 185px;
        height: 49px;
        line-height: 49px;
         }
      .sign-up-bar{
        width: 25%;
        padding: 10px 0 0 40px;
        &__ul{
          display: flex;
          &__l1{
            position: relative;
            display: inline-block;
            min-width: 40px;
            margin: 0 5% 0 0;
            font-size: 0.2rem;
            white-space: nowrap;
            color: red;
            &--progress-status1{
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: red;
              margin: 0 auto;
              margin-top: 5px;
            &::after{
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
              }
            }  
          }
          &__l2{
            position: relative;
            display: inline-block;
            min-width: 40px;
            margin: 0 5% 0 0;
            font-size: 0.2rem;
            white-space: nowrap;
            text-align: center;
            color: #ccc;
            &--progress-status2{
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ccc;
              margin: 0 auto;
              margin-top: 5px;
            &::before{
              left: 50%;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
              }
            &::after{
              right: 30%;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
              }
            }
          }
          &__l3{
            position: relative;
            display: inline-block;
            min-width: 40px;
            margin: 0 5% 0 0;
            font-size: 0.2rem;
            white-space: nowrap;
            text-align: center;
            color: #ccc;
            &--progress-status3{
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ccc;
              margin: 0 auto;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  .main{
    padding: 30px 0;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    .member-registration{    
      font-size: 32px;
      padding-bottom: 30px;
      text-align: center;
      border-bottom: 1px solid whitesmoke;
    }     
    .input-class{
      max-width: 343px;
      margin: 0 auto;  
        &__field{        
          margin-top: 20px;          
          &--subtitle{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          input[type=text]:required,
          input[type=email]:required,
          input[type=email]:invalid,
          textarea:required {
            color: #630015;
            border-color: #c20c33;
            background-color: #ffd9e1;
          }
          &--text-box,
          &--text-box:required{
            width: 90%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        &__gray-text p{
          font-size: 14px;
          color: gray;
        }
        &__check-box{

        }
        &__subhead{
          margin-top: 20px;
          line-height: 1.5;
          font-size: 14px;
        }                        
        &__box{
          margin-top: 20px;
          display: flex;           
            &--text-box{
              width: 90%;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
        }
        &__birthday{
          width: 100%;
          height: 30px;
          margin-top: 20px;
          margin-bottom:30px;
            #birthday_birthday_1i,
            #birthday_birthday_2i,
            #birthday_birthday_3i{
              position: relative;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              width: 23%;
            }    
        }
        &__text{
          &--single-text1{
            color: darkgray;
            font-size: 14px;
          }
          &--single-text2{
            color: black;
            font-size: 14px;
            text-align: center;
            &--a{
              text-decoration: none;
            }
          }
        }
        &__actions{
          font-size: 1.375rem;
          background: red;
          border-radius: 5px;
          padding: 18px 32px;
          text-align: center;
          margin-top: 20px;
          &--text{
          color: #fff;            
          font-size: 20px;
          text-decoration: none;             
          }     
        }
        &__bottom-text{
        margin-top: 30px;
        text-align: right;
          &--a{
            text-decoration: none;                
          }
        }
        &__bottom-box{
          margin: 32px 0;
          padding: 10px;
          font-size: 10px;
          line-height: 1.5;
          color: gray;
          background-color:whitesmoke;
          &--a{
            text-decoration: none;               
          }
        }
      }
    }
  }
}      