// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appBanner {
  position: relative;
  background-image: image-url("/assets/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  background-size: cover;
  background-position: center;

  &__inner {
    color: #fff;
    text-align: center;

    @mixin txtshadow{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      @include txtshadow;
    }
    
    &__content {
      font-size: 35px;
      @include txtshadow;
    }

    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }

  }

}



