<div class="contents-wrapper">
  <a href="javascript:void(0);" class="bridge-item row item_detail_banner" data-id="303423545" data-url="https://item.fril.jp/549700e8dd1d4f429442df9100c3b48f">
    <div class="item_image_wraper">
      <div class="item_image" style="background-image:url(https://img.fril.jp/img/303423545/s/856425139.jpg?1583049866)"></div>
    </div>
    <div class="item_info_wraper">
      <h2 class="item_name">ナノユニバース　紺コットンジャケット　メンズS</h2>
      <div class="item_price">
        2,480 円
      </div>
      <div class="item_delivery">
        <span class="shipping_fee"><i class="icon_item_tag"></i> 送料込み|出品者負担</span>
      </div>
    </div>
  </a>

  <div class="row">
    <div class="col small-text">
      <h5 class="status-title">商品に購入申請します</h5>
      <p>この商品に購入申請します。出品者に購入申請が承認されるとこの商品が購入できるようになります。</p>
    </div>
  </div>

  <script>
    window.onload = function() {
      ga('send', 'pageview', {"dimension1":4226889,"dimension2":303423545,"dimension3":"ナノユニバース　紺コットンジャケット　メンズS"});
    }
  </script>

  <!-- _delivery_address -->
  <div class="row">
    <div class="col s12">
      <div class="card">
        <!-- _address_info -->
        <div class="row">
          <div class="col s12">
            <p class="caption-text">配送先住所</p>
          </div>
          <div class="col s12">
            <p>
              〒 110-0011<br>
              東京都台東区三ノ輪2-14-2 <br>
              加藤 孝之 様
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacerW"></div>
  <!-- _delivery_info -->
  <div class="row">
    <div class="col s12">
      <p class="caption-text">配送情報</p>
    </div>
    <div class="col s12">
      <p>未定</p>
      <p>
          <span class="carriage_include"><i class="icon_item_tag"></i> 送料込み|出品者負担</span>
      </p>
      <p>発送期限:支払完了後、2～3日後に発送</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p class="right-align"><a class="waves-light fril-pink btn modal-trigger btn-style01" href="#check1">購入申請する</a></p>
    </div>
  </div>

  <!-- _point -->      
    <!-- _guide_link -->      
  <div class="row help">
    <a onclick="openUrl('https://faq.fril.jp/first/payment/', '利用可能なお支払いの方法について');">
      <div class="col s2 center-align"><span class="icon_book"></span></div>
      <div class="col s10">利用可能なお支払いの方法について</div>
    </a>
  </div>

  <!-- _guide_link -->      
  <div class="row help">
    <a onclick="openUrl('https://faq.fril.jp/first/purchase/', '購入申請とは？');">
      <div class="col s2 center-align"><span class="icon_book"></span></div>
      <div class="col s10">購入申請とは？</div>
    </a>
  </div>


  <div class="spacerW"></div>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12">
      <p class="caption-text">ヘルプ</p>
    </div>
  </div>

  <!-- _guide_link -->      
  <div class="row help">
    <a onclick="openUrl('https://fril.jp/guide/howto', '取引完了までの流れ');">
      <div class="col s2 center-align"><span class="icon_book"></span></div>
      <div class="col s10">取引完了までの流れ</div>
    </a>
  </div>

  <!-- _guide_link -->      
  <div class="row help">
    <a onclick="openUrl('https://faq.fril.jp/category/buyer/', '購入者のよくある質問');">
      <div class="col s2 center-align"><span class="icon_book"></span></div>
      <div class="col s10">購入者のよくある質問</div>
    </a>
  </div>

  <!-- Modal Structure -->
  <div id="check1" class="modal">
    <div class="modal-content">
      <h4>この商品に購入申請します</h4>
      <p>出品者から購入申請が承認されたのち、商品代金のお支払いとなります</p>
    </div>
    <div class="modal-footer">
      <form action="/v2/order" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="KIxect/b49xBGkUTSA3GtI4DXt/FEKQz/30Iyey8Tan7NdRGwz8ECOvEtWZGOhboEBeAKPxunZ0rf4jF4fXJSQ==">
        <input type="hidden" name="item_id" id="item_id" value="303423545">
        <button name="button" type="submit" class="waves-fril-pink btn-flat fril-pink-text modal-action ga-class request-btn" data-disable-with="送信中・・・">購入申請する</button>
      </form>
      <a href="#close" class="waves-light btn-flat modal-action modal-close">キャンセル</a>
    </div>
  </div>

  <script>
    window.onload = function() {
      ga('send', 'pageview', {"dimension1":4226889,"dimension2":303423545,"dimension3":"ナノユニバース　紺コットンジャケット　メンズS"});
    }
  </script>
</div>