.trades-new
  %header.trades-new__header
    = render "devise/header-image"
  -# %mains.trades-new-mains
    // 現在ログインしているユーザーIDの表示
    -# - if user_signed_in?
    -#   現在、ユーザー#{current_user.id}でログイン中です
    -#   %section.trades-new-single-container
    -#     %h2.trades-new-single-head 購入内容の確認
    -#     %section.trades-new-buy-content
    -#       .trades-new-buy-content-inner
    -# - else
    -#   未ログインです
  %main.trades-new__main
    %h2.trades-new-head 購入内容の確認
    .trades-new-item
      .trades-new-item__box
        .trades-new-item__box--image
          =image_tag 'product3_001.png'
          .trades-new-item__box--name macbookair
          .trades-new-item__box--price　¥100,000
    .trades-new-data
      .trades-new-data__price
        .trades-new-data__price--title 支払い金額
        .trades-new-data__price--amount ¥100,000
      .trades-new-payment
        .trades-new-payment__inner
          .trades-new-payment__inner--text 支払い方法
          .trades-new-payment__inner--info
            %i.fas.fa-plus-circle=link_to "登録してください","#"
      .trades-new-shipping
        .trades-new-shipping__inner
          .trades-new-shipping__inner--text 配送先
          .trades-new-shipping__inner--change=link_to "変更する","#"
        .trades-new-shipping__address
          %p.trades-new-shipping__address--postalnumber
            〒100−0000
          %p.trades-new-shipping__address--city
            東京都渋谷区
          %p.trades-new-shipping__address--building
            アジアビルディング
          %p.trades-new-shipping__address--name
          　姓名前
      .trade-new-submit
        .trade-new-submit__btn
          %button 購入する
  %footer.trades-new__footer
    = render "devise/navigation"
