.appBanner
  .appBanner__inner
    .appBanner__inner__title
      %h2 だれでもかんたん、人生を変えるフリマアプリ
    .appBanner__inner__content
      %p 今すぐ無料ダウンロード！
    .appBanner__inner__icon
      = link_to '#' do
        = image_tag "/assets/app-store.svg", class: "appBtn"
      = link_to '#' do
        = image_tag "/assets/google-play.svg", class: "googleBtn"
