.purchase-btn
  - if user_signed_in?
    =link_to new_item_path,class:"purchase-btn__inner--link" do
      %span.purchase-btn__inner--text 出品する
      .purchase-btn__inner--icon
        = icon('fa', 'camera', class:"purchase-btn__inner" )
  - else
    =link_to new_user_session_path,class:"purchase-btn__inner--link"  do
      %span.purchase-btn__inner--text 出品する
      .purchase-btn__inner--icon
        = icon('fa', 'camera', class:"purchase-btn__inner" )